.content-wrap {
  display: flex;
  padding-top: 80px;

  &__filter {
    min-width: 250px;
    margin-right: 50px;
    ul {
      li {
        font-family: 'Roboto',sans-serif;
        font-weight: 300;
        color: #333;
        cursor: pointer;
        padding: 10px 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        list-style-type: none;
        word-break: break-word;
        background: #fff;
        box-shadow: 30px 0 0 #fff, -30px 0 0 #fff;
        
        &:hover {
          border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        }
      }
    }
  }

  &__products {
    display: flex;
  }
}

.filter-section-button {
  display: flex;
  font-family: 'Roboto',sans-serif;
  font-weight: 300;
  word-break: break-word;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border: 3px solid transparent;
  background: #395ACB;
  border-radius: 0;
  padding: 10px 20px;
  margin: 20px auto 0;

  a {
    text-decoration: none;
    color: #fff;
  }
}