.navigation {
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: 300;
  font-weight: 600;
  color: #333;
  word-break: break-word;
  padding-top: 10px;
  padding-bottom: 10px;

  @media (max-width: 768px) { 
    display: none;
  }

  span {
    font-size: 13px;
  };

  a {
    text-decoration: none;
  }

  &__image {
    @media (max-width: 1024px) { 
      margin-right: 10px;
      width: 185px;
      height: 50px;
    }
  }

  &__address {
    display: flex;
    flex-direction: column;
  }

  &__list {
    // flex: 1 1 100%;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    display: flex;
    min-height: 50px;
    cursor: pointer;
    align-items: center;
    justify-content: flex-end;
    text-decoration: none;
    list-style: none;

    @media (max-width: 1024px) { 
      font-size: 14px;
      margin-left: 10px;
    }

    a {
      padding: 0 10px;

      @media (max-width: 1024px) { 
        padding: 0 5px;
      }
    }
  }
}

.mobile-navigation {
  font-family: 'Source Sans Pro', sans-serif;
  display: none;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  background: white;
  min-height: 50px;
  font-weight: 300;
  color: #333;
  word-break: break-word;;

  @media (max-width: 768px) { 
    display: flex;
  }

  span {
    font-size: 13px;
  };

  a {
    text-decoration: none;
  }

  &__burger {
    position: absolute;
    right: 10px;
    cursor: pointer;
  }

  &__list {
    display: flex;
    flex-direction: column;
    // position: relative;
    // right: 0;    
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    list-style: none;
    position: absolute;
    margin: 0;
    top: 50px;
    z-index: 9999;
    background: white;
    width: 100%;
    text-align: center;
    padding: 0 0 20px 0;

    a {
      padding: 0 10px;
    }
  }
}